---
import Layout from '../layouts/Layout.astro';
import { Icon } from 'astro-icon/components';
---

<Layout title="InverTech - Conversor" description="InverTech - Conversor de monedas">
    <section class="max-w-6xl mx-auto bg-red-600 flex-col flex justify-center items-center">
        <h1 class="text-center">Conversor de Monedas</h1>
        <p>Elije entre 7 distintas monedas para realizar una conversión</p>
    </section>
</Layout>