---
import Layout from '../layouts/Layout.astro'; 
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="InverTech - Inicio" description="InverTech - Bienvenido">
	<main>
		<Header></Header>
		<div class="w-10 h-44 bg-[color:var(--slight-d-green)]"></div>
		<div class="w-10 h-44 bg-[color:var(--slight-l-green)]"></div>
		<Footer></Footer>
	</main>
</Layout>