---
import Layout from "../layouts/Layout.astro";

import CompoundInterest from "../components/vue/CompoundInterest.vue";
import { Icon } from 'astro-icon/components';
---

<Layout title="InverTech - Login" description="InverTech - Inicia Sesión">
    <section class="w-full flex justify-center items-center">
        <section class="w-4/5 max-w-6xl my-14 rounded-md shadow-2xl shadow-slate-300">
            <section class="w-full flex justify-center items-center flex-col mb-10 gap-3">

                <h1 class="flex justify-center items-center rounded-md h-32 rounded-t
                            rounded-b-none w-full text-3xl text-center text-white
                            font-bold bg-[color:var(--custom-d-blue)]">
                    Interés Compuesto
                </h1>

                <p class="w-3/5 text-lg text-center font-semibold text-slate-600 italic">
                    El interés compuesto es un concepto financiero que se refiere
                    al valor que se genera sobre un capital variable y se aplica
                    a una inversión o un crédito. La razón por la que se llama “compuesto”
                    es porque se calcula sobre un capital que aumenta constantemente. En
                    otras palabras, los intereses se van sumando en cada período,
                    lo que hace que el capital crezca de forma exponencial.
                </p>
            </section>
            <CompoundInterest client:load></CompoundInterest>
        </section>
    </section>
</Layout>