---
import Footer from "../components/Footer.astro"
import Header from "../components/Header.astro"
import Layout from "../layouts/Layout.astro"
import InputComp from "../components/vue/InputComp.vue"
import CustomInput from "../components/CustomInput.astro"
import GeneradorCustom from "../components/GeneradorCustom.astro"
import CurrencySelector from "../components/CurrencySelector.astro"
import { Icon } from "astro-icon/components"
---

<Layout description="None" title="InverTech - Interes">
    <main class="flex justify-center items-center flex-col">
        <div class="z-50"><Header></Header></div>        
            <section class="flex justify-center items-center flex-col">
                <h1>Interes Compuesto</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur neque consequatur voluptatem temporibus ipsam cupiditate architecto nulla praesentium natus facere?</p>
            </section>
            <section class="m-auto w-full flex justify-center items-center flex-col">
                <section class="max-w-[1270px] w-4/5 bg-red-300  flex flex-row items-center justify-center">                    
                    <InputComp title="Moneda">
                        <div class="flex justify-center items-center">
                            <div id="hereGoesAFlag" class="w-10 h-8">
                                <Icon name="flag:co-4x3" id="flag0" class="w-full h-full animate-bounce" />
                                <Icon name="flag:mx-4x3" id="flag1" class="w-full h-full animate-bounce" />
                                <Icon name="flag:us-4x3" id="flag2" class="w-full h-full animate-bounce" />
                                <Icon name="flag:ru-4x3" id="flag3" class="w-full h-full animate-bounce" />
                                <Icon name="flag:jp-4x3" id="flag4" class="w-full h-full animate-bounce" />
                                <Icon name="flag:gb-4x3" id="flag5" class="w-full h-full animate-bounce" />
                                <Icon name="flag:cn-4x3" id="flag6" class="w-full h-full animate-bounce" />                                           
                            </div>
                            <CurrencySelector currencyName="monedaInicial"></CurrencySelector>
                        </div>                                     
                    </InputComp>                    
                    <InputComp title="Capital">
                        <div class="flex justify-center items-center gap-1 flex-row-reverse">
                            <CustomInput placeholderText="Capital" identifier="capital"></CustomInput>
                        </div>                        
                    </InputComp>
                    <InputComp title="Tasa de interés (Anual)">
                        <CustomInput placeholderText="Tasa" identifier="tasa"></CustomInput>
                    </InputComp>
                    <InputComp title="Año(s)">
                        <div class="flex justify-center items-center gap-1">
                            <CustomInput placeholderText="Inicial" identifier="inicial" mediumSized></CustomInput>
                            <CustomInput placeholderText="Final" identifier="final" mediumSized></CustomInput>
                        </div>
                    </InputComp>
                </section>
                <section class="max-w-[1270px] w-4/5 bg-red-300  flex flex-col items-center justify-center">
                    <label class="flex flex-row justify-center gap-2 items-center">
                        <p>¿Desea convertir a otra moneda?</p><input type="checkbox" id="cbox1" value="first_checkbox" />
                    </label>
                    <div class="h-8 flex justify-center items-center">
                        <div id="hereGoesAFlag" class="w-10 h-8">
                            <Icon name="flag:co-4x3" id="flag-0" class="w-full h-full animate-bounce" />
                            <Icon name="flag:mx-4x3" id="flag-1" class="w-full h-full animate-bounce" />
                            <Icon name="flag:us-4x3" id="flag-2" class="w-full h-full animate-bounce" />
                            <Icon name="flag:ru-4x3" id="flag-3" class="w-full h-full animate-bounce" />
                            <Icon name="flag:jp-4x3" id="flag-4" class="w-full h-full animate-bounce" />
                            <Icon name="flag:gb-4x3" id="flag-5" class="w-full h-full animate-bounce" />
                            <Icon name="flag:cn-4x3" id="flag-6" class="w-full h-full animate-bounce" />                                           
                        </div>
                        <CurrencySelector currencyName="monedaFinal"></CurrencySelector> 
                    </div>                    
                </section>               
            </section>
            <GeneradorCustom></GeneradorCustom>
        <Footer></Footer>
    </main>
    <script src="../js/interesCompuesto.js"></script>
</Layout>