---
import Layout from "../layouts/Layout.astro";

import CompoundInterest from "../components/vue/CompoundInterest.vue";
import { Icon } from 'astro-icon/components';
---

<Layout title="InverTech - Login" description="InverTech - Inicia Sesión">
    <section class="w-full h-screen flex justify-center items-center">
        <section class="w-4/5 max-w-6xl h-4/5 my-14 rounded-md shadow-2xl shadow-slate-300">
            <section class="w-full flex justify-center items-center flex-col mb-10 gap-3">

                <h1 class="flex justify-center items-center rounded-md h-32 rounded-t
                            rounded-b-none w-full text-3xl text-center text-white
                            font-bold bg-[color:var(--custom-d-blue)]">
                    Interés Compuesto
                </h1>

                <p class="w-3/5 text-lg text-center font-semibold italic">
                    El interés compuesto es el monto de un capital al que se van
                    acumulando sus créditos o intereses para que produzcan otros.
                    El interés compuesto permite la capitalización de intereses
                    periódicamente: día a día, mes a mes, etc.
                </p>
            </section>
            <CompoundInterest></CompoundInterest>
        </section>
    </section>
</Layout>