---
import Layout from '../layouts/Layout.astro';
import { Icon } from 'astro-icon/components';
---

<Layout title="InverTech - Login" description="InverTech - Inicia Sesión">
        <section class="w-full h-[100vh] flex justify-center items-center">
            <section class="w-[35%] h-[90%] flex flex-col rounded-md justify-center items-center shadow-2xl shadow-slate-300">
                <h1 class="select-none w-3/5 h-1/6 flex justify-center items-center text-center text-4xl font-bold gap-2">
                    <Icon name="fluent:arrow-trending-lines-24-filled" />
                    InverTech
                </h1>                
                <h2 class="w-3/5 text-xl font-semibold text-center mb-20">Escoja la acción a realizar</h2>

                <section class="w-3/5  text-slate-400 text-center flex flex-row justify-center items-center gap-2 mb-3">
                    <div class="w-[22%] h-[1px] bg-slate-300"></div>
                    <p class="w-[54%] text-center text-sm">Acciones de cálculo</p>
                    <div class="w-[22%] h-[1px] bg-slate-300"></div>
                </section>
                <div class="w-3/5 flex flex-col justify-center items-center gap-4 mb-20">
                    <a href="/interesCompuesto2" class="text-center flex items-center justify-center text-white bg-[color:var(--custom-orange)] w-full h-[38px] shadow-md active:bg-orange-700">
                        Interés Compuesto
                    </a>
                    <a href="/gastosPersonalesNew" class="text-center flex items-center justify-center text-white bg-[color:var(--custom-orange)] w-full h-[38px] shadow-md active:bg-orange-700">
                        Gastos Personales
                    </a>                    
                </div>

                <section class="w-3/5  text-slate-400 text-center flex flex-row justify-center items-center gap-2 mb-3">
                    <div class="w-[22%] h-[1px] bg-slate-300"></div>
                    <p class="w-[54%] text-center text-sm">Acción de conversión</p>
                    <div class="w-[22%] h-[1px] bg-slate-300"></div>
                </section>
                <a href="/conversorDeMonedas" class="w-3/5 text-center flex items-center justify-center text-white bg-[color:var(--custom-orange)] h-[38px] mb-6 shadow-md active:bg-orange-700">
                    Conversor De Moneda
                </a>
                
                <a href="" class="w-3/5 text-right text-[color:var(--custom-orange)] text-sm">Ver información...</a>
            </section>
        </section>
</Layout>