---
import { Icon } from "astro-icon/components";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="InverTech - Login" description="InverTech - Opciones">
	<main>
        <Header></Header>
            <section class="bg-black">
                <h1>Hola</h1>
            </section>
        <Footer></Footer>
	</main>
</Layout>