---
const { currencyName, disabled = false } = Astro.props;
---

<div class="flex justify-center items-center flex-col" >
    <label for={currencyName}></label>
    <div class="flex justify-center items-center bg-white flex-col">
        <slot/>
        <select id={currencyName} disabled={disabled} class="appearance-none p-1 border border-1 outline-none" name="currencyList" form="currencyForm">
            <option value="0" selected>Peso Colombiano (COP)</option>
            <option value="1">Peso Mexicano (MXN)</option>
            <option value="2">Dolar (USD)</option>
            <option value="3">Euro (EUR)</option>
            <option value="4">Yen Japonés (JPY)</option>
            <option value="5">Libra Esterlina (GBP)</option>
            <option value="6">Yuan Chino (CNY)</option>
        </select>
    </div>
</div>