---
import { Icon } from 'astro-icon/components';
---

<div class="top-0 left-0 w-full flex justify-center items-center py-3">
    <!-- <nav class="flex justify-between max-w-[1270px] items-center w-4/5">
        <a href="" class="flex justify-center items-center gap-1">
            <Icon name="fluent:arrow-trending-lines-24-filled" />
            InverTech
        </a> -->
        <ul class="inline-flex space-x-5">
            <li>Placeholder</li>
    <!-- </ul>
    </nav> -->
</div>