---
import { Icon } from 'astro-icon/components';
---

<div class="top-0 left-0 w-full flex justify-center items-center py-3 bg-[color:var(--blue-1)] text-[color:var(--custom-white)]">
    <!-- <nav class="flex justify-between max-w-[1270px] items-center w-4/5">
        <a href="" class="flex justify-center items-center gap-1">
            <Icon name="fluent:arrow-trending-lines-24-filled" />
            InverTech
        </a> -->
        <ul class="inline-flex space-x-5">
            <li class="flex flex-row gap-1 justify-center items-center font-semibold">
                <Icon name="fluent:arrow-trending-lines-24-filled" />
                InverTech
            </li>
            <li>@2024</li>
        </ul>
</div>