---    
---

<section class="w-full flex justify-center items-center flex-col">
    <section class="max-w-96 w-full flex flex-row justify-around items-center">
        <button id="generator" class="bg-[color:var(--custom-orange)] text-white w-1/2 border-1 border-t-0 border outline-none">Calcular / Refrescar</button>
        <button id="cleaner" class="bg-[color:var(--custom-orange)] text-white w-1/2 border-1 border-t-0 border outline-none">Limpiar</button>
    </section>    
    <div id="generateIn" class="rounded-full max-w-[1270px] w-4/5 justify-center items-center flex-col">
        <!-- Se insertan aquí -->
    </div>

    <!-- <section class="w-full flex-col flex justify-center items-center bg-[color:var(--slight-d-green)] text-white">
        <h1>Año + Index</h1>
        <div class="w-full flex-row justify-center items-center gap-5">
            <div class="flex justify-center items-center flex-col w-1/3">
                <h1>Capital Inicial</h1>
                <h2>capitalToAppend</h2>
            </div>
            <div class="flex justify-center items-center flex-col w-1/3">
                <h1>Interes</h1>
                <h2>interesToAppend</h2>
            </div>
            <div class="flex justify-center items-center flex-col w-1/3">
                <h1>Capital Final</h1>
                <h2>capitalFinalToAppend</h2>
            </div>
        </div>
    </section> -->

    <script>
        import { updateFlag } from '../js/updateFlag.js';
        import { monedaInicial, monedaFinal, symbolArray, convertCurrency } from '../js/currencies.js'
        import { capital, tasa, inicial, final, checkbox } from '../js/interesCompuesto.js';

        var generator = document.querySelector("#generator")
        var cleaner = document.querySelector("#cleaner")

        var generateIn = document.querySelector("#generateIn")

        cleaner.addEventListener("click", cleanInformation)

        checkbox.addEventListener("change", () => {
            if (checkbox.checked) {
                monedaFinal.style.display = "block"
                updateFlag(monedaFinal.value, "-")
                return
            }
            updateFlag(20, "-")
            monedaFinal.style.display = "none"          
        })

        generator.addEventListener("click", () => {
            validateYears()
            generateInformation()
        })

        function cleanInformation() {
            generateIn.innerHTML = ''
        }

        function generateInformation() {
            cleanInformation()
            for (let index = parseInt(inicial.value)-1; index < final.value; index++) {

                var capitalToAppend = (capital.value * Math.pow(1 + (tasa.value)/100, index)).toFixed(2)
                var interesToAppend = ((capitalToAppend*tasa.value)/100).toFixed(2)
                var capitalFinalToAppend = (capital.value * Math.pow(1 + (tasa.value)/100, parseInt(index)+1)).toFixed(2)
                var currencySymbol = symbolArray[monedaInicial.value]

                if (checkbox.checked) {
                    capitalToAppend         = convertCurrency(capitalToAppend)
                    interesToAppend         = convertCurrency(interesToAppend)
                    capitalFinalToAppend    = convertCurrency(capitalFinalToAppend)
                    currencySymbol = symbolArray[monedaFinal.value]
                }

                var toAppend = document.createElement('div');
                toAppend.innerHTML =  
                `
                <section class="text-black rounded-md py-2 my-2 text-lg w-full flex-col flex
                justify-center items-center border-2 borderbg-[color:var(--custom-orange)] text-white  text-white">
                    <h1 class="font-semibold text-black">Año #${parseInt(index)+1}</h1>
                    <div class="w-full flex-row flex justify-center items-center gap-5">
                        <div class="flex justify-center items-center flex-col w-1/3">
                            <h1 class="font-semibold text-black">Capital Inicial</h1>
                            <h2 class="text-black">${capitalToAppend+" "+currencySymbol}</h2>
                        </div>
                        <div class="flex justify-center items-center flex-col w-1/3">
                            <h1 class="font-semibold text-black">Interes</h1>
                            <h2 class="text-black">${interesToAppend+" "+currencySymbol}</h2>
                        </div>
                        <div class="flex justify-center items-center flex-col w-1/3">
                            <h1 class="font-semibold text-black">Capital Final</h1>
                            <h2 class="text-black">${capitalFinalToAppend+" "+currencySymbol}</h2>
                        </div>
                    </div>
                </section>
                `;
                generateIn.appendChild(toAppend);
            }
            var totalGain = document.createElement('div');
            var moneyYearA = parseFloat((capital.value * Math.pow(1 + (tasa.value)/100, parseInt(inicial.value))))
            var moneyI = parseFloat((capital.value * Math.pow(1 + (tasa.value)/100, 0)))
            var moneyYearB = parseFloat((capital.value * Math.pow(1 + (tasa.value)/100, parseInt(final.value))))

            if (checkbox.checked) {
                moneyYearA = convertCurrency(moneyYearA)
                moneyYearB = convertCurrency(moneyYearB)
                moneyI = convertCurrency(moneyI)
            }

            moneyYearA = parseFloat((moneyYearA))
            moneyYearB = parseFloat((moneyYearB))
            moneyI = parseFloat((moneyI))

            totalGain.innerHTML = 
            `
            <section class="flex flex-row justify-around items-center gap-5">
                <div class="w-1/3 bg-[color:var(--custom-orange)] rounded p-3 text-white font-semibold">
                    <p class="text-center">Ganancia desde el año ${inicial.value} al año ${final.value}: ${(moneyYearB-moneyYearA).toFixed(2)+" "+currencySymbol}</p>    
                </div>
                <div class="w-1/3 bg-[color:var(--custom-orange)] rounded p-3 text-white font-semibold">
                    <p class="text-center">Ganancia desde el inicio hasta el año ${final.value}: ${(moneyYearB-moneyI).toFixed(2)+" "+currencySymbol}</p>
                </div>
            </section>
            `
            generateIn.appendChild(totalGain);
        }

        function validateYears() {

            if (isNaN(inicial.value) || inicial.value == 0) {
                inicial.value = 1
            }

            if (isNaN(final.value) || final.value == 0) {
                final.value = 1
            }

            if (parseInt(inicial.value > parseInt(final.value))) {
                const oldValues = [inicial.value, final.value]
                inicial.value = oldValues[1]
                final.value = oldValues[0]
            }

        }

    </script>
</section>
