---
import { Icon } from 'astro-icon/components';
---

<section class="fixed top-0 left-0 w-full flex justify-center items-center py-3
    bg-[color:var(--blue-1)] text-[color:var(--custom-white)] font-semibold">
    <nav class="flex justify-between max-w-[1270px] items-center w-4/5">
        <a href="/index" class="flex justify-center items-center gap-1">
            <Icon name="fluent:arrow-trending-lines-24-filled" />
            InverTech
        </a>
        <ul class="inline-flex space-x-5">
            <li><a href="./">INICIO</a></li>
            <li><a href="/login">LOGIN</a></li>
            <li><a href="#">COLABORADORES</a></li>
        </ul>
    </nav>
</section>
<div class="h-[48px]"></div>