---
interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8"/>
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> Icon  -->
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--intense-d-green:#40513B;
		--slight-d-green: #609966;
		--slight-l-green:#9DC08B;
		--custom-beige: #E8DFCA;
		--custom-white: #EDF1D6;
		--custom-d-blue: #0d0d43;
		
	}
	html{
		overflow-x: hidden;
		height: 100%;
		height: 100%;
	}
</style>